*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: monospace;
}
body{
    background-color: darkslategrey;
}
a{
    color: black;
    font-size: 20px;
}
.container{
    background-color: white;
    padding: 5px;
    margin: 20px;
    box-shadow: 8px 8px 10px 10px #888888;
    display: flex;
}
.content_4,
.content_3,
.content_2{
    display: none;
}
.same{
    width: 80%;
}
.menu{
    padding:50px;
    margin: 10px;
    box-shadow: 8px 8px 10px 10px #888888; 
}
.menu h2{
    text-align: justify;
    font-size: 25px;
    margin: 5px 0;
}
.menu ul{
    padding-left: 20px;
    border-left: 2px solid black;
}
a:hover{
    border-bottom: 2px solid black;
    font-size: 23px;
}
.same p{
    width: 400px;
    position: absolute;
    bottom: -20px;
    right: 60px;
    background-color: yellow;
    padding: 20px;
    opacity: 0.7;
}

.img{
    width:930px;
    height:580px;
    background-image: url(img/elite.jpg);
    background-size: cover;
}
